<div class="row">
  <div class="col-md-9 col-sm-offset-1">
    <h1><%= @recipe.title %></h1>
    <hr/>
    Poziom trudności: <%= @recipe.difficult %>
    <p><%= @recipe.recipe_text %></p>
    <p><%= @recipe.photo_path %></p>

    <%= link_to t('main.edit'), edit_food_category_recipe_path(@recipe.id) %> |
    <%= link_to t('main.delete'), food_category_recipe_path(@recipe.food_category_id, @recipe.id), method: :delete, data: {confirm: t('recipe.delete_confirm')} %> |
    <%= link_to t('main.back'), food_category_path(@recipe.food_category_id) %>
  </div>
</div>
