<%# TODO: Improve showing liked/hated recipe %>

<% provide(:title, @recipe.title) %>
<div class="row">
  <div class="col-md-9 col-sm-offset-1">
    <h1><%= @recipe.title %></h1>

    <div class="btn-group">
      <%# <%= link_to food_category_path(@recipe.food_category_id), class: 'btn btn-primary' do %>
      <%= link_to :back, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        <%= t('main.back') %>
      <% end %>

      <%= link_to vote_food_category_recipe_path(@recipe.food_category_id, @recipe), method: :post, class: 'btn btn-primary' do %>
        <% if user_signed_in? %>
          <% if current_user.voted_up_on? @recipe %>
            <font color="yellow">
              <strong>
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <%= t('activerecord.attributes.recipe.like') %>
                <span class="badge"><%= @recipe.get_upvotes.size %></span>
              </strong>
            </font>
          <% else %>
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <%= t('activerecord.attributes.recipe.like') %>
            <span class="badge"><%= @recipe.get_upvotes.size %></span>
          <% end %>
        <% else %>
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <%= t('activerecord.attributes.recipe.like') %>
          <span class="badge"><%= @recipe.get_upvotes.size %></span>
        <% end %>
      <% end %>

      <%= link_to vote_food_category_recipe_path(@recipe.food_category_id, @recipe.id), method: :delete, class: 'btn btn-primary' do %>
        <% if user_signed_in? %>
          <% if current_user.voted_down_on? @recipe %>
            <font color="yellow">
              <strong>
                <span class="glyphicon glyphicon-thumbs-down"></span>
                <%= t('activerecord.attributes.recipe.hate') %>
                <span class="badge"><%= @recipe.get_downvotes.size %></span>
              </strong>
            </font>
          <% else %>
            <span class="glyphicon glyphicon-thumbs-down"></span>
            <%= t('activerecord.attributes.recipe.hate') %>
            <span class="badge"><%= @recipe.get_downvotes.size %></span>
          <% end %>
        <% else %>
          <span class="glyphicon glyphicon-thumbs-down"></span>
          <%= t('activerecord.attributes.recipe.hate') %>
          <span class="badge"><%= @recipe.get_downvotes.size %></span>
        <% end %>
      <% end %>

      <button type="button" class="btn btn-primary">
        <%= t('activerecord.attributes.recipe.difficult') + ' ' %>
        <% @recipe.difficult.times do %>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <% @recipe.blank_stars.times do %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      </button>

      <% if can?(:update, @recipe) %>
        <%= link_to edit_food_category_recipe_path(@recipe.food_category_id, @recipe.id), class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-wrench"></span> <%= t('main.edit') %>
        <% end %>
      <% end %>

      <% if can?(:destroy, @recipe) %>
        <%= link_to food_category_recipe_path(@recipe.food_category_id, @recipe.id), method: :delete, data: {confirm: t('recipe.delete_confirm')}, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-remove"></span> <%= t('main.delete') %>
        <% end %>
      <% end %>
    </div>

    <hr/>

    <p><%= @recipe.user.email if @recipe.user %></p>
    <%= image_tag @recipe.image.url, alt: "#{@recipe.title}", size: '500x500' %>

    <ul class="list-group col-md-4">
      <li class="list-group-item active"><strong><%= t('activerecord.attributes.recipe.ingredients') %>:</strong></li>
      <% str = @recipe.ingredients.split(/\n/).map(&:to_s) %>
      <% str.each do |f| %>
        <li class="list-group-item">
          <%= simple_format(f) %>
        </li>
      <% end %>
    </ul>
        <p><%= @recipe.recipe_text %></p>
  </div>
</div>
