<% provide(:title, t('activerecord.models.food_category')) %>
<div class="row">
  <% if can?(:read, @foodcategory) %>
    <div class="col-md-9 col-sm-offset-1">
  <% else %>
    <div class="col-md-3 col-sm-offset-4">
  <% end %>
    <h1><%= t('activerecord.models.food_category') %></h1>
    <hr/>
    <div class="table-responsive-sm">
      <table class="table table-dark" border="1">
        <thead>
          <th>ID</th>
          <th><%= t('main.title') %></th>
          <% if can?(:update, @foodcategory) %>
            <th><%= t('main.edit') %></th>
          <% end %>
          <% if can?(:destroy, @foodcategory) %>
            <th><%= t('main.delete') %></th>
          <% end %>
        </thead>
        <tbody>
          <% @foodcategory.each do |f| %>
            <tr>
              <td><%= f.id %></td>
              <td><%= link_to f.title, food_category_path(f.id) %></td>
              <% if can?(:update, @foodcategory) %>
                <td><%= link_to t('main.edit'), edit_food_category_path(f.id) %></td>
              <% end %>
              <% if can?(:destroy, @foodcategory) %>
                <td><%= link_to t('main.delete'), food_category_path(f.id), method: :delete, data: { confirm: t('food_category.confirm_delete') } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
