<% provide(:title, t('activerecord.models.food_category')) %>
<div class="row">
  <% if user_signed_in? %>
    <div class="col-md-9 col-sm-offset-1">
  <% else %>
    <div class="col-md-3 col-sm-offset-4">
  <% end %>
    <h1><%= t('activerecord.models.food_category') %></h1>
    <hr/>
    <div class="table-responsive">
      <table class="table" border="1">
        <tr class="info">
          <td>ID</td>
          <td><%= t('main.title') %></td>
          <% if user_signed_in? %>
            <td><%= t('main.edit') %></td>
            <td><%= t('main.delete') %></td>
          <% end %>
        </tr>

        <% @foodcategory.each do |f| %>
          <tr>
            <td><%= f.id %></td>
            <td><%= f.title %></td>
            <% if user_signed_in? %>
              <td><%= link_to t('main.edit'), edit_food_category_path(f.id) %></td>
              <td><%= link_to t('main.delete'), food_category_path(f.id), method: :delete, data: { confirm: t('food_category.confirm_delete') } %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
