<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "cookbook", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('menu_links.main_page'), root_path %></li>
        <li><%= link_to t('menu_links.food_category_page'), food_category_index_path %></li>
        <li><%= link_to t('menu_links.new_food_category_page'), new_food_category_path %></li>
        <li><%= link_to t('menu_links.about_page'), about_path %></li>

        <% if user_signed_in? %>
          <li><%= link_to current_user.email, edit_user_registration_path %></li>
          <li><%= link_to t('menu_links.sign_out'), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t('menu_links.sign_in_page'), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
